* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to right, rgb(158, 255, 224), rgb(186, 255, 239));
    margin: 0px;
    padding: 0px;
}
html {
    display: block;
}

.logo {
    width: 12%;
    margin: 30px;
}
.btn-follow {
    padding: 15px;
    border-radius: 100px;
    border: none;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(255, 50, 50), rgb(172, 0, 172));
    -webkit-text-fill-color: white;
    font-weight: 600;
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 60px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.banner {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.btn-download {
    padding: 15px;
    border-radius: 100px;
    border: none;
    text-decoration: none;
    background-image: linear-gradient(to right, #009153, #00CC75);
    -webkit-text-fill-color: white;
    font-weight: 600;
    margin-top: 40px;
    margin-right: 30px;
}

.btn-download-michael {
    padding: 15px;
    border-radius: 100px;
    border: none;
    text-decoration: none;
    background-image: linear-gradient(to right, #bfbfbf, #797979);
    -webkit-text-fill-color: white;
    font-weight: 600;
    margin-top: 40px;
    margin-right: 30px;
}
.days {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
    width: 800px;
}
.title {
    font-weight: 500;
    margin-top: 50px;
}
.download-list {
    background-color: white;
    margin: 20px 250px 50px 250px;
    background-size: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.speaker {
    font-size: 15px;
    color: grey;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {

    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: rgb(158, 255, 224);
        margin: 0px;
        padding: 0px;
    }
    
    .logo {
        width: 30%;
        margin: 30px;
    }
    .btn-follow {
        padding: 15px;
        border-radius: 100px;
        font-size: 12px;
        width: 180px;
        border: none;
        text-decoration: none;
        background-image: linear-gradient(to right, rgb(255, 50, 50), rgb(172, 0, 172));
        -webkit-text-fill-color: white;
        font-weight: 400;
        /* margin-top: 40px;
        margin-right: 30px;
        margin-bottom: 60px; */
        margin: 80px auto 50px auto;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }
    .banner {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .btn-download {
        padding: 15px;
        border-radius: 100px;
        border: none;
        text-decoration: none;
        background-image: linear-gradient(to right, #009153, #00CC75);
        -webkit-text-fill-color: white;
        font-weight: 600;
        margin-top: 40px;
        margin-right: 30px;
    }
    
    .btn-download-michael {
        padding: 15px;
        border-radius: 100px;
        border: none;
        text-decoration: none;
        background-image: linear-gradient(to right, #bfbfbf, #797979);
        -webkit-text-fill-color: white;
        font-weight: 600;
        margin-top: 40px;
        margin-right: 30px;
    }
    .days {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;
        width: 80%;
    }
    .title {
        font-weight: 500;
        margin-top: 50px;
    }
    .download-list {
        background-color: white;
        width: 80%;
        /* margin-top: 30px; */
        margin: 30px auto 30px auto;
        /* margin: 0px 0px 0px 0px; */
        background-size: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        border-radius: 8px;
    }
    .speaker {
        font-size: 15px;
        margin-top: 5px;
        color: grey;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: rgb(158, 255, 224);
        margin: 0px;
        padding: 0px;
    }
    
    .logo {
        width: 30%;
        margin: 30px;
    }
    .btn-follow {
        padding: 15px;
        border-radius: 100px;
        font-size: 12px;
        width: 180px;
        border: none;
        text-decoration: none;
        background-image: linear-gradient(to right, rgb(255, 50, 50), rgb(172, 0, 172));
        -webkit-text-fill-color: white;
        font-weight: 400;
        /* margin-top: 40px;
        margin-right: 30px;
        margin-bottom: 60px; */
        margin: 80px auto 50px auto;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }
    .banner {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .btn-download {
        padding: 15px;
        border-radius: 100px;
        border: none;
        text-decoration: none;
        background-image: linear-gradient(to right, #009153, #00CC75);
        -webkit-text-fill-color: white;
        font-weight: 600;
        margin-top: 40px;
        margin-right: 30px;
    }
    
    .btn-download-michael {
        padding: 15px;
        border-radius: 100px;
        border: none;
        text-decoration: none;
        background-image: linear-gradient(to right, #bfbfbf, #797979);
        -webkit-text-fill-color: white;
        font-weight: 600;
        margin-top: 40px;
        margin-right: 30px;
    }
    .days {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;
        width: 80%;
    }
    .title {
        font-weight: 500;
        margin-top: 50px;
    }
    .download-list {
        background-color: white;
        width: 80%;
        /* margin-top: 30px; */
        margin: 30px auto 30px auto;
        /* margin: 0px 0px 0px 0px; */
        background-size: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        border-radius: 8px;
    }
    .speaker {
        font-size: 15px;
        margin-top: 5px;
        color: grey;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: rgb(158, 255, 224);
        margin: 0px;
        padding: 0px;
    }
    
    .logo {
        width: 30%;
        margin: 30px;
    }
    .btn-follow {
        padding: 15px;
        border-radius: 100px;
        font-size: 12px;
        width: 180px;
        border: none;
        text-decoration: none;
        background-image: linear-gradient(to right, rgb(255, 50, 50), rgb(172, 0, 172));
        -webkit-text-fill-color: white;
        font-weight: 400;
        /* margin-top: 40px;
        margin-right: 30px;
        margin-bottom: 60px; */
        margin: 80px auto 50px auto;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }
    .banner {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .btn-download {
        padding: 15px;
        border-radius: 100px;
        border: none;
        text-decoration: none;
        background-image: linear-gradient(to right, #009153, #00CC75);
        -webkit-text-fill-color: white;
        font-weight: 600;
        margin-top: 40px;
        margin-right: 30px;
    }
    
    .btn-download-michael {
        padding: 15px;
        border-radius: 100px;
        border: none;
        text-decoration: none;
        background-image: linear-gradient(to right, #bfbfbf, #797979);
        -webkit-text-fill-color: white;
        font-weight: 600;
        margin-top: 40px;
        margin-right: 30px;
    }
    .days {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;
        width: 80%;
    }
    .title {
        font-weight: 500;
        margin-top: 50px;
    }
    .download-list {
        background-color: white;
        width: 80%;
        /* margin-top: 30px; */
        margin: 30px auto 30px auto;
        /* margin: 0px 0px 0px 0px; */
        background-size: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        border-radius: 8px;
    }
    .speaker {
        font-size: 15px;
        margin-top: 5px;
        color: grey;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}